/* Gallery style */
.hero-imageg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Gallery/main.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }